/* Header */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    line-height: 1.35;
}

/* Cover */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    margin-top: 135px;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}

/* Lots */
.lots {
    padding: 180px 50px;
}

.lots__heading {
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 27px 0 30px;
    list-style: none;
}

.lots__card-list-item {
    flex: 1 1 430px;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 50%;
}

.about__title {
    margin: 100px 0;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    line-height: 1.2;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 180px 50px 90px;
}

.footer__menu-list {
    text-align: center;
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    justify-self: end;
    list-style: none;
}