/* Header */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 92px;
    margin: 0 auto;
    max-width: 1100px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    justify-self: center;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.header__address {
    justify-self: end;
    font-style: normal;
    line-height: 1.35;
    max-width: 240px;
    text-align: right;
}

.address {
    font-style: normal;
    line-height: 1.35;
}

/* Cover section */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0 auto;
    max-width: 1100px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.15;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    margin: 20px 0;
    padding-right: 60px;
}

.aligned-text_right {
    text-align: right;
    padding-right: 30px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
    margin-top: 127px;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    line-height: 1.27;
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    background: transparent;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Raleway, sans-serif;
}

/* Lots section */
.lots {
    padding: 180px 50px;
    margin: 0 auto;
    max-width: 1100px;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
    font-weight: 700;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 563px;
    flex-shrink: 0;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.2;
    font-weight: 700;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

/* About section */
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    padding: 0 50px 180px;
    margin: 0 auto;
    max-width: 1100px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 auto;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 100px 0 100px 25px;
    font-weight: 700;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    line-height: 1.2;
    margin-left: 25px;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px 90px;
    margin: 0 auto;
    max-width: 1100px;
    font-size: 18px;
}

.footer .address {
    justify-self: start;
    line-height: 1.35;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-list-item {
    margin-bottom: 10px;
}

.footer__menu-link {
    text-decoration: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-self: end;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}

.footer__social-link {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}